{% load i18n %}
{% load webdesign %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% blocktrans %}"Bistro na rubu šume" music compilation{% endblocktrans %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">



        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-fileupload.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox-buttons.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jPlayer/blue.monday/jplayer.blue.monday.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>


    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead row-fluid">
                {% include "header.html" %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                {% include "navigation.html" %}
            </div>
            <div id="content" class="row-fluid">
                {% include "content.html" %}
            </div>
            <div class="footer row-fluid">
                {% include "footer.html" %}
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-2.0.2.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/vendor/jquery.pjax.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/bootstrap-fileupload.min.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.mousewheel-3.0.6.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/fancybox/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/fancybox/jquery.fancybox-buttons.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/fancybox/jquery.fancybox-media.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/fancybox/jquery.fancybox-thumbs.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jPlayer/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jPlayer/add-on/jplayer.playlist.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".fancybox").fancybox({
                    beforeLoad: function() {
                        this.title = $(this.element).attr('caption');
                    }
                });
            });
        </script>
        {% block playlist %}{% endblock %}
    </body>
</html>
