{% load webdesign %}
<div id="content" class="span5 well">
    <div data-spy="scroll" data-offset="0" id="scrollContent">
        <article>
            <h2>Mock Title of album/artist/song</h2>
            {% lorem 3 p random %}
        </article>
    </div>
</div>
<div id="player" class="span6 offset1 well">
    {% include "player.html" %}
</div>
