{% load webdesign %}
<footer class="span12 well">
    <div class="row-fluid">
        <div class="heading span4">
            <h4>Bistro na rubu šume</h4>
        </div>
        <div class="heading span4">
            <h4>brs:info box</h4>
        </div>
        <div class="heading span4">
            <h4>social and media</h4>
        </div>
    </div>
    <div class="row-fluid" id="footer-content">
        <div id="nav-volume-footer" class="span4">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="" class="rounded">
                        <div class="carousel-caption">
                            <h4>BRS vol1</h4>
                        </div>
                    </div>
                    <div class="item active">
                        <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="" class="rounded">
                        <div class="carousel-caption">
                            <h4>BRS vol2</h4>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="" class="rounded">
                        <div class="carousel-caption">
                            <h4>BRS vol3</h4>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>
        <div id="info-volume-footer" class="span4">
            {% lorem 30 w random %}
        </div>
        <div id="cmpi" class="span4">
            <div class="row-fluid">
                <i class="icon-youtube-play icon-2x span3"></i>
                <i class="icon-facebook-sign icon-2x span3"></i>
                <i class="icon-google-plus-sign icon-2x span3"></i>
                <i class="icon-linkedin-sign icon-2x span3"></i>
            </div>
        </div>
    </div>
</footer>
