<div id="nav-compilation" class="span3">
    <ul class="breadcrumb">
        <li><a href="#">Artist</a> <span class="divider">/</span></li>
        <li><a href="#">Album</a> <span class="divider">/</span></li>
        <li class="active">Song</li>
    </ul>
</div>
<div id="nav-site" class="span9">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">:brs:</a></li>
        <li><a href="#">:home:</a></li>
        <li><a href="#">:about:</a></li>
        <li><a href="#">:contact:</a></li>
        <li><a href="#">:news:</a></li>
    </ul>
</div>

